@page
@model MyApp.Namespace.AboutModel
@{
    ViewData["Title"] = "Om sidan";
}

    <h1>Om oss</h1>

    <p>Jag heter William och jag har skapat denna sida med ASP.NET Core, Razor-syntax och Visual Studio Code.</p>
